@model TrashCollector.ViewModels.CustomerFormViewModel
@{
    /**/

    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Customer</h2>

@using (Html.BeginForm("Save", "Customers"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.FirstName)
        @Html.TextBoxFor(m => m.Customer.FirstName, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.LastName)
        @Html.TextBoxFor(m => m.Customer.LastName, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.Address.AddressString)
        @Html.TextBoxFor(m => m.Customer.Address.AddressString, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Customer.ZipCodeId)
        @Html.DropDownListFor(m => m.Customer.ZipCodeId, new SelectList(Model.ZipCodes, "ZipCodeId", "Code"), "Select ZipCode", new { @class = "form-group" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.DayId)<br />
        @Html.DropDownListFor(m => m.Customer.DayId, new SelectList(Model.Days, "DayId", "Name"), "Select Pickup Day", new { @class = "form-group" })
    </div>

    @Html.HiddenFor(m => m.Customer.Id)
    <button type="submit" class="btn btn-primary"> Save </button>
}
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

}