@model TrashCollector.ViewModels.EmployeeFormViewModel
@{
    /**/

    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Employee</h2>

@using (Html.BeginForm("Save", "Employees"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Employee.FirstName)
        @Html.TextBoxFor(m => m.Employee.FirstName, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Employee.LastName)
        @Html.TextBoxFor(m => m.Employee.LastName, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Employee.PhoneNumber)
        @Html.TextBoxFor(m => m.Employee.PhoneNumber, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Employee.ZipCode.ZipCodeId)
        @Html.DropDownListFor(m => m.Employee.ZipCode.ZipCodeId, new SelectList(Model.ZipCodes, "ZipCodeId", "Code"), "Select ZipCode", new { @class = "form-group" })
    </div>

    @Html.HiddenFor(m => m.Employee.Id)
    <button type="submit" class="btn btn-primary"> Save </button>
}
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

}